{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>SubChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light mb-4" id="navbar">
    <img width="30" height="30" src="https://img.icons8.com/office/30/internet--v1.png" alt="internet--v1"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item text-center" id="signup-btn">
                    <a href="{% url 'sign-out' %}" class="nav-link" data-toggle="modal" data-target="#"><span
                            class="fa fa-user"></span><span
                            class="d-none d-sm-inline d-xl-block px-1">Log Out</span></a>
                </li>
            {% else %}
                <li class="nav-item text-center" id="signup-btn">
                    <a href="{% url 'sign-up' %}" class="nav-link" data-toggle="modal" data-target="#"><span
                            class="fa fa-user"></span><span
                            class="d-none d-sm-inline d-xl-block px-1">Sign Up</span></a>
                </li>
                <li class="nav-item text-center" id="login-btn">
                    <a href="{% url 'sign-in' %}" class="nav-link" data-toggle="modal" data-target="#"><i
                            class="fas fa-sign-in-alt"></i><span
                            class="d-none d-sm-inline d-xl-block px-1">Sign In</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card" id="card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        {% for user in users %}
                            <li class="{% if user.username == user.username %}active{% endif %}">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src=""
                                             class="rounded-circle user_img">
                                    </div>
                                    <div class="user_info">
                                        <span>{{ user.username }}</span>
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 chat">
            <div class="card" id="secondcard">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{% static 'chat.png' %}" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>SubChat</span>
                            <p id="messagecount">{{ messages.count }} Messages</p>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body">
                    {% for message in messages %}
                        <div class="d-flex justify-content-{% if message.user.username == user.username %}start{% else %}end{% endif %} mb-4">
                        <div class="img_cont_msg">
                            <img src="{{ message.user.image }}"
                                 class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{ message.text }}
                            <span class="msg_time">{{ message.created_at|date:"g:i A, F jS"  }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn">  </span>
                        </div>
                        <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const cardElement = document.getElementById('card')
    const navElement = document.getElementById('navbar')
    const navHeight = navElement.offsetHeight
    const marginBottom = window.getComputedStyle(navElement).marginBottom
    const marginBottomPx = parseInt(marginBottom, 10);
    const marginTop = window.innerHeight * 0.1
    const windowHeight = window.innerHeight
    cardElement.style.height = windowHeight - (marginBottomPx + marginTop + navHeight) + 'px'

    const secondCard = document.getElementById('secondcard')
    secondCard.style.height = cardElement.offsetHeight + 'px'
</script>
<script>

</script>
</body>
</html>
